In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [3]:
item_2014_2017 = df.groupby('Item').sum()
item_2014_2017.loc[['Animal fats'], ['Y2014', 'Y2017']]

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

## What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [4]:
year_cols = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df_description = df.describe()
df_description.loc[['mean', 'std'], year_cols]

            Y2014        Y2015        Y2016        Y2017        Y2018
mean   134.196282   135.235966   136.555222   140.917765   143.758381
std   1567.663696  1603.403984  1640.007194  1671.862359  1710.782658

## What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [5]:
num_missing_2016 = df[['Y2016']].isnull().sum()
percentage_missing_2016 = num_missing_2016.div(len(df)).mul(100)
print("Number of missing data: {} \n Percentage Missing data: {}".format(num_missing_2016, percentage_missing_2016))

Number of missing data: Y2016    1535
dtype: int64
 Percentage Missing data: Y2016    2.518747
dtype: float64

##  Which year had the highest correlation with ‘Element Code’?

In [6]:
element_code_cols = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
elem_cols = df[element_code_cols]
elem_cols.corr()

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

## What year has the highest sum of Import Quantity?

In [7]:
element_group = df.groupby('Element').sum()
element_group.loc[['Import Quantity'], year_cols]

                     Y2014      Y2015      Y2016      Y2017      Y2018
Element
Import Quantity  274144.48  267018.46  286582.78  294559.09  287997.09

## What is the total number of the sum of Production in 2014?

In [8]:
element_group.loc[['Production'], ['Y2014']]

                 Y2014
Element
Production  1931287.75

## Which of these elements had the highest sum in 2018?

In [9]:
element_group.loc[:, ['Y2018']].sort_values(by='Y2018', ascending=False)

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

## Which of these elements had the 3rd lowest sum in 2018?

In [10]:
element_group.loc[:, ['Y2018']].sort_values(by='Y2018')

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

## What is the total Import Quantity in Algeria in 2018?

In [11]:
elem_2018_alg = df[df['Area'] == 'Algeria']
elem_2018_alg
elem_2018_alg = elem_2018_alg.groupby('Element').sum()
elem_2018_alg.loc[['Import Quantity'], ['Y2018']]

                    Y2018
Element
Import Quantity  36238.29

## What is the total number of unique countries in the dataset?

In [12]:
df['Area'].nunique()

49